body.dark {
    background-color: #333;
    color: white;
}

body.dark header h2 {
    color: #A0D4ED;
}



body{
    font-size: 20px;
    font-family: 'Times New Roman';
    line-height: 1.5;
}

header {
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 600px;
}

header h1{
    margin-bottom: 8px;
    font-size: 42px;
    font-weight: 300;
    word-spacing: 1px;
    letter-spacing: 4px;
}

header h2 {
    color: #006EB6;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 100;
    word-spacing: 1px;
    letter-spacing: 4px;

}

h1,h2 {
    text-transform: uppercase;
}
hr {
    margin-top: 0px;
    width: 600px;
    margin-left: auto;
    margin-right: auto 
}
main{
    width: 600px;
    margin: auto;
    text-align: left;
    padding: 20px;
;
}
footer{
    width: 600px;
    margin: auto;
}
li{
    padding-top: 10px;
    padding-bottom: 10px;

}
.logo{
    width: 150px;
    padding: 5px;
}
img{
    display: block;
    margin: auto;
}

select{
    color: #333;
    background-color: white;
    border-color: #333;
    padding: 8px 16px;
    border-radius: 5px;

}
